<p id="notice"><%= notice %></p>

<h1>Level Raws</h1>

<table>
  <thead>
    <tr>
      <th>Readings</th>
      
      <th>Core ID</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @level_raws.each do |level_raw| %>
      <tr>
        <td><%= level_raw.readings %></td>
        <td><%= level_raw.coreid %></td>
        <td><%= level_raw.published_at.in_time_zone("America/New_York") %></td>
        <td><%= link_to 'Show', level_raw %></td>
        <td><%= link_to 'Edit', edit_level_raw_path(level_raw) %></td>
        <td><%= link_to 'Destroy', level_raw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level Raw', new_level_raw_path %>
