<%= form_with(model: spark_diagnostic, local: true) do |form| %>
  <% if spark_diagnostic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spark_diagnostic.errors.count, "error") %> prohibited this spark_diagnostic from being saved:</h2>

      <ul>
      <% spark_diagnostic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :diagnostic %>
    <%= form.text_field :diagnostic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
