<p id="notice"><%= notice %></p>

<h1>
  Batteries
  <% if @device_id %>
  for
  <%= link_to @device_id, device_path(@device_id) %>
  <% end %>
</h1>

<% if @device_id %>
<p>
  <%= link_to device_path(@device_id) do %>
  Back to device
  <%= @device_id %>
  <% end %>
</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Reading</th>

      <th>Core ID</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batteries.each do |battery| %>
      <tr>
        <td><%= battery.reading %></td>
        <td><%= battery.coreid %></td>
        <td><%= battery.published_at.in_time_zone('America/New_York') %></td>
        <td><%= link_to 'Show', battery %></td>
        <td><%= link_to 'Edit', edit_battery_path(battery) %></td>
        <td><%= link_to 'Destroy', battery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battery', new_battery_path %>
